{% extends "app/mainlayout.html" %}

{% block content %}

{% load static %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <!-- <h1 class="m-0" style="text-align: center;">Starter Page</h1> -->
          </div><!-- /.col -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <br>
        <br>
        <br>
        <div class="row">
          
          <!-- /.col-md-6 -->
        <!-----Picture--------->
      
          <!-----Picture--------->
         
            <!-- <div>
             -->
            
             <div class="col-3"></div>
            
            <div class="col-xl-5 order-xl-1">
              <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                   
                    <div class="col-8">
                      <h3 class="mb-0">Change Password </h3>
                    </div>
                    <div class="col-4 text-right">
                      <a href="{% url 'userProfile' %}" class="btn btn-sm btn-primary">Edit Profile</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <form action="{% url 'updatePassword' %}"  method="POST" >
                    {% csrf_token %}

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="pass1" placeholder="Password">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <input type="password" class="form-control" name="pass2" placeholder="Confirm Password">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3"></div>
                        <div class="col-3">
                          <button href="" type="submit"   class="btn btn-primary btn-block">Cancel</button>
                        </div>
                        <div class="col-3">
                          <button  href=""  type="submit" class="btn btn-primary btn-block">Save</button>
                        </div>
                        <!-- /.col -->
                      </div>
             
                  </form>
                </div>
              </div>
            </div>
 
        </div>
          <!-- /.col-md-6 -->
        </div>
      </div><!-- /.container-fluid -->

    {% endblock %}     


    {% block javascript %}
    {% endblock %}