{% extends "app/mainlayout.html" %}

{% load static %}

{% block css %}
<style>
  .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 3px 0 0;
    list-style: none;
    font-size: 17px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    font-family: inherit;
 }

.ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #444ce3;
    white-space: nowrap;
    font-size: large;
 }

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: white;
  background-color:#007bff;
  cursor: pointer;
  font-weight: bold;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.relative {
position: relative;
left: 400px;

}

</style>

{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-lg-6">
              

            <h1 >Diagnostic Tool</h1>

          </div><!-- /.col -->
          <!-- /.col -->
         </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- child content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">

            <div class="col-lg-2"></div>



         <div class="col-lg-6">

            <br>

            <form action="addButton" method="POST">
              {% csrf_token %}	
             <div class="card card-primary card-outline">
              <div class="card-header">

                <h5 class="m-0">Let's start with the symptoms troubling you the most ? <i class="fas fa-info-circle"></i> </h5>
                
                
              </div>
              <div class="card-body">
              <div class="col-lg-5">
              <div class="input-group">
                <input type="text" class="form-control" id="txtSymptom" placeholder="Symptom" name="txtSymptom">
                <span class="input-group-append">
                  <!-- <button type="button" class="btn btn-info btn-flat">Add</button> -->
                 
                </span>
              </div>
           
              {% for message in messages %} 
              <!-- <h6> {{message}}</h6> -->
              <label id="lblMsg">{{ message }}</label>
              {% endfor %}
            </div>
             <!-- <div>
               <h3 style="color: green;">Fever</h3>
               <p>Some description that tells about the symptom</p> 
               <<button type='submit' class='btn btn-rounded btn-outline-primary>Select Symptom</button>
             </div> -->
             <div class="container-fluid">
               <div class="row">
                 <div class="col-sm-12">
             <div id="playlist">
               <br>
              <!-- <h3 style="color: green;">Fever</h3>
              <p>Some description that tells about the symptom</p>  -->
             </div>
             
             
<!--               
             <div class="relative">
            
             <button style="padding-block-end: 5px;" type="submit" class="btn btn-outline-primary ">Select Symptom</button>
            
            </div> -->
          </div>
          </div>
          </div>
          </div>
             <!-- {% for entry in data.entries_list %}
              <i><b>Name:</i></b> {{ entry.symptom }}<br>
              <i><b>Ingredients:</i></b> {{ entry.symptom }}<br>
              <p><i>{{ entry.description }}</i></p>
              <i><b>Created by:</i></b> {{ entry.symptom }}<br><br>
             {% endfor %} -->

            </div>
            
          <!-- </form> -->


          <!-- <form action="nextButtonclick" method="POST">
            {% csrf_token %}	 -->
            <!-- <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">How long has it been causing problems for you ?</h5>
                <h5>{{ question }}</h5>
                <input type="text" name = "txtSympId" value="{{ symptomId }}" style="visibility: hidden;">
              </div>
              
                <div class="card-body">
                  <input type="radio" value="0" name="wt"> 0 <br>
                  <input type="radio" value="1" name="wt"> 1 <br>
                  <input type="radio" value="2" name="wt"> 2 <br>
                  <input type="radio" value="3" name="wt"> 3 <br>
                  <input type="radio" value="4" name="wt"> 4 <br>
                  <input type="radio" value="5" name="wt"> 5 <br>
                </div>
            </div>
            <div class="card-header">
              <button type="submit" > Next</button>
            </div> -->
          </form>
          <!-- <form method="POST" action="sampleone">
            {% csrf_token %}	
            <input type="text" name = "newsymp" value="{{ symptomId }}" style="visibility: hidden;">
          <button id="button" value="Analyze" onclick="analyzeText()"> analyse </button>
        </form> -->
            <!-- <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">Do you have this symptom ?</h5>
              </div>
              <div class="card-body">
                <a href="#"> Yes</a><br>

                <a href="#">No</a> <br>
                <a href="#">I dont Know</a><br>

              </div>
            </div> -->
            </div>

              <div class="col-lg-2"></div>


          <!-- /.col-md-6 -->
        </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- child content -->

  {% endblock %} 

{% block javascript %}

<!-- <script> -->
<script type="text/javascript">  
  $(function() {
    $("#txtSymptom").autocomplete({
      source: "{% url 'symptom-autocomplete' %}",
      // minLength: 1,
    });
  });

    $('#txtSymptom').on('autocompleteselect', function (e, ui) {
      $("#lblMsg").html("");
      //alert(ui.item.label)

      //
      $.ajax({
        url: '/ajax/getDetails/',
        data: {
          // 'symp' : $("#lblSymp").val(),
          'symp' : ui.item.label,
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            //$("#lblSymp").html(data.nextSymptom)
            //alert(data.nextSymptom);
            //$("input[name='wt']:radio:checked").prop('checked',false);
            //$("#lblFirst").hide();
            //alert('inside autocomplete click')
            var list_html = "";
                for( var i=0; i <data.entries_list.length; i++) {
                   //list_html += "<li>" + data.entries_list[i].symptom + "</li>";
                   list_html += "<br><h3 style='color: green;'>" + data.entries_list[i].symptom +"</h3>";
                   list_html += "<p style='font-family: inherit;'>" + data.entries_list[i].desc +"</p>";
                   //list_html += "<button type='submit' class='btn btn-rounded btn-outline-primary'>"+ "Select Symptom" +"</button>";
                   //list_html += "<button type='submit' class='btn btn-rounded btn-outline-primary' name='btnSelect' value ='"+data.entries_list[i].symptom+"'>"+ "Select Symptom" +"</button>";
                   list_html += "  <div class='relative'><button type='submit' class='btn btn-rounded btn-info' name='btnSelect' value ='"+data.entries_list[i].symptom+"'>"+ "Select Symptom" +"</button></div>";
                   list_html += "<hr>";
                 }
                //list_html += "</ol>"
                $("#playlist").html(list_html);
          }
        }
      });
      //
    });
    
    
</script>
{% endblock %}


