{% extends "app/mainlayout.html" %}

{% block content %}

{% load static %}

    <!-- Main content -->
    <div class="content">
        <div class="row" >
        <div class="col-lg-12 ">
                <div class="content-header">
                    <h1 class="m-0" style="text-align: center;font-size: 30px;">Welcome to Haley, <strong>{{fname}} {{lname}}</strong>!</h1>
                </div>
            
            <div class="content px-2">
                <blockquote class="quote-orange mt-0">
          <h5>Note!</h5>
          <p style="font-size: 25px">This project is only for educational purposes.We highly recommend that refer to your General Physicians in case of emergency or any other serious problem.</p>
        </blockquote>
        </div>
        <div class="container-fluid">
          <div class="col-lg-12 ">
          <div class="row">
          
          <!-- <div class="col-lg-3 col-6">
            
           <a href="{% url 'diagnosticTool' %}">
            <div class="small-box bg-info">
              <div class="inner">
                
                <p>&nbsp;</p>
                <h3>Diagnostic Tool</h3>

                
              </div>
              <div class="icon">
                <i class="nav-icon fas fa-tachometer-alt"></i>
              </div>
     
            </div>
          </a>
          </div> -->
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            
            <div class="small-box bg-cyan">
              <div class="inner">
                 
                <p>&nbsp;</p>
                <h3 style="font-size: 30px;">GP's Nearby</h3>
              </div>
              <div class="icon">
                <i class="nav-icon fas fa-user-md"></i>
              </div>
              <a href="{% url 'GPList' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          
          </div>
          <!-- ./col -->
          <div class="col-lg-1 col-6"></div>
          <div class="col-lg-4 col-6">
            <!-- small box -->
            
            <div class="small-box bg-cyan">
              <div class="inner">
                 
                <p>&nbsp;</p>
                <h3 style="font-size: 30px;">Assessment Details </h3>
              </div>
              <div class="icon">
                <i class="nav-icon fas fa-chart-bar"></i>
              </div>
              <a href="{% url 'assessmentDetails' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          
          </div>
          <!-- ./col -->
          <div class="col-lg-1 col-6"></div>
        
          <div class="col-lg-3 col-6">
            <!-- small box -->
            
            <div class="small-box bg-cyan">
              <div class="inner">
                 
                <p>&nbsp;</p>
                <h3 style="font-size: 30px;"> Feedback</h3>
              </div>
              <div class="icon">
                <i class="nav-icon fas fa-user-md"></i>
              </div>
              <a href="{% url 'feedback' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          
          </div>
          <!-- ./col -->
        </div>
</div>
      </div>
        <div class="content px-2">
            <blockquote class="quote-info mt-0">
     
            <p style="font-size: 25px"> Haley provides a general diagnosis of your symptoms and makes prediction of possible diseases and gives a list of General Physicians present near by you.
             You just need to click on start diagnosis to proceed for your diagnosis.</p>
                   
                    <!-- <button  class="btn btn-dark" onclick="location.href='{% url 'diagnosticTool' %}'" >Start diagnosis  <i class="nav-icon fas fa-tachometer-alt"></i></button> -->
                 
                    
                    <div class="text-center ">
                      <button style="width: 25%;height: 50%;font-size: 30px;"  type="button" class="btn btn-info btn-lg" onclick="location.href='{% url 'diagnosticTool' %}'" >Start Diagnosis
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                      </button>
                  </div>
                
                  </blockquote> </div>
                   
         </div>
             
                  <!-- <div class="col-lg-2 col-6"></div>
          
          <div class="col-lg-3 col-6">
          
            <button type="button" class="btn btn-primary " onclick="location.href='{% url 'GPList' %}'" >Find GP's Nearby
              &nbsp; <i class="nav-icon fas fa-user-md"></i>
            </button>
          </div>
         
          <div class="col-lg-3 col-6">
            <button type="button" class="btn  btn-primary " >Assessment Details
              <i class="nav-icon fas fa-chart-bar"></i>
            </button>
         
          </div>
          <div class="col-lg-3 col-6">
            <button type="button" class="btn  btn-primary " >Give Feedback
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
            &nbsp;  <i class="nav-icon fas fa-comment-dots"></i>
            </button>
         
          </div> -->
         
          <br> <br>
      
        
        </div>
       
    </div>

{% endblock %}     


{% block javascript %}
{% endblock %}
