{% extends "app/new_layout.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}" >

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.css' %}">
<div class="container-fluid">
    <!-- <div class="row" style="padding: 30px;">
            <div class="col-sm-12" id="welcome">
                Welcome to Haley <b>Avi Peruboina</b>
            </div>
    </div> -->
    <div class="row" style="padding: 20px;">
        <div class="col-sm-12" id="utext">
            <span class="span">
                NOTE!
            </span>
            <p>
                This project is only for educational purpose. We highly recommend that you should refer to your General Physicians in case of emergency or any other serious problem.
            </p>
        </div>
    </div>
    <div class="row" style="padding: 20px;">
        <div class="col-sm-12" id="utext">
            
                <span class="span">
                    ABOUT!
                    </span>
                    <p>  Haley provides a general diagnosis of your symptoms and makes prediction of possible diseases and gives a list of 
                General Physicians, present near by you. You just need to click on start diagnosis to proceed for your diagnosis.
            </p>
        </div>
    </div> 
    <div class="container-fluid">
        <div class="col-lg-12 ">
        <div class="row">
        
     
        <div class="col-lg-3 col-6"style="height:100%;">
            <!-- small box -->
            
           <div class="small-box" style="background-color: #EC7EDA;">
              <div class="inner">
                 
                <p>&nbsp;</p>
                <h4 style="text-align: center;" style="height:100%;">Diagnostic Tool</h4>
              </div>
              <div class="icon">
                <i class="nav-icon fas fa-tachometer-alt"></i>
              </div>
              <a href="{% url 'diagnosticTool' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          
          </div>

        <div class="col-lg-3 col-6" style="height:100%;">
          <!-- small box -->
          
          <div class="small-box" style="background-color: #EC7EDA;">
            <div class="inner">
               
              <p>&nbsp;</p>
              <h4 style="text-align: center;">GP's Nearby</h4>
            </div>
            <div class="icon">
              <i class="nav-icon fas fa-user-md"></i>
            </div>
            <a href="{% url 'GPList' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        
        </div>
       
       
        <div class="col-lg-3 col-6">
          <!-- small box -->
          
          <div class="small-box" style="background-color: #EC7EDA;">
            <div class="inner">
               
              <p>&nbsp;</p>
              <h4 style="text-align: center;">Assessment Details </h4>
            </div>
            <div class="icon">
              <i class="nav-icon fas fa-chart-bar"></i>
            </div>
            <a href="{% url 'assessmentDetails' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        
        </div>
        <!-- ./col -->
     
      
        <div class="col-lg-3 col-6">
          <!-- small box -->
          
          <div class="small-box" style="background-color: #EC7EDA;">
            <div class="inner">
               
              <p>&nbsp;</p>
              <h4 style="text-align: center;"> Feedback</h4>
            </div>
            <div class="icon">
              <i class="nav-icon fas fa-user-md"></i>
            </div>
            <a href="{% url 'feedback' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        
        </div>
        <!-- ./col -->
      </div>
</div>
    </div>


    <div class="container-fluid">
        <div class="row" style="padding:30px">
         <div class="col-sm-6">
                <div  id="haley">
                 
                    <div  id="Disease_chart_div" style="width: 100%;">
                    </div>
                    
                </div>
         </div>
         
                <div class="col-sm-6">
                <div  id="haley">
                  
                    <div  id="Visits_chart_div" style="width: 100%;">
                      
                    </div>
                </div>
               
           
          </div>
        </div>
    </div>
</div>
    
{% endblock %}     
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> 


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>

var pieArry = [];
var barArry = [];
google.charts.load('current', {'packages':['corechart']});

$(document).ready(function () {
  
  $.ajax({
        url: '/ajax/getChartsDetails/',
        data: {
          // 'symp' : $("#lblSymp").val(),
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            for( var i=0; i <data.pieChart_list.length; i++) {
              x = 25;
              pieArry.push([data.pieChart_list[i].disease, (data.pieChart_list[i].percent * x)]);
            }
            for( var i=0; i <data.barChart_list.length; i++) {
              barArry.push([data.barChart_list[i].month, data.barChart_list[i].count]);
            }
            google.charts.load('current', {'packages':['corechart']});
            drawDiseaseChart();
            drawVisitsChart();

          }
        }
      });
      
      // Load Charts and the corechart package.
//google.charts.load('current', {'packages':['corechart']});

// Draw the pie chart for Sarah's pizza when Charts is loaded.
//google.charts.setOnLoadCallback(drawDiseaseChart);

// Draw the pie chart for the Anthony's pizza when Charts is loaded.
//google.charts.setOnLoadCallback(drawVisitsChart);

});

function drawDiseaseChart(){
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Disease');
  data.addColumn('number', 'Number of Cases');
  data.addRows(pieArry);

          // Set options for Disease's pie chart.
          var options = {title:'Top Diseases diagnosed last month', is3D: true, backgroundColor: 'none',
                            titleTextStyle: {
                            color: '#E375D1',    // any HTML string color ('red', '#cc00cc')
                            fontName: 'Lato', // i.e. 'Times New Roman'
                            fontSize: '34px', // 12, 18 whatever you want (don't specify px)
                            }
                        
                        };

          // Instantiate and draw the chart for Disease's .
          var chart = new google.visualization.PieChart(document.getElementById('Disease_chart_div'));
          chart.draw(data, options);
}

// Draw the pie chart for the Anthony's pizza when Charts is loaded.
//google.charts.setOnLoadCallback(drawVisitsChart);


// Callback that draws the pie chart for Visits's pizza.
function drawVisitsChart() {

  // Create the data table for Visits.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Month');
  data.addColumn('number', 'No of Visits');
  data.addRows(barArry);

  // Set options for Visits's bar chart.
  var options = {title:'Your visits to Haley per month', is3D: true, backgroundColor: 'none',
                    titleTextStyle: {
                    color: '#E375D1',    // any HTML string color ('red', '#cc00cc')
                    fontName: 'Lato', // i.e. 'Times New Roman'
                    fontSize: '34px', // 12, 18 whatever you want (don't specify px)
                    }
                
                };

  // Instantiate and draw the chart for Visits.
  var chart = new google.visualization.ColumnChart(document.getElementById('Visits_chart_div'));
  chart.draw(data, options);
}
</script>
{% endblock %}
    
