{% extends "app/new_layout.html" %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="row" style="padding: 30px;">
            <div class="col-sm-6">
                <span class="span">
                    Feedback
                </span>
            </div>
            <!-- <div class="col-sm-6" id="welcome">
                Welcome to Haley <b>Avi Peruboina</b>
            </div> -->
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="padding-left:30px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-10" id="haley">
                <form method="POST">
                    {% csrf_token %}
                <div class="row" id="utext" style="padding-top: 15px;">
                    <h5>Hi, we appreciate your efforts to give valueable feeedback about Haley's predictions about your diagnosis.</h5>
                </div>
                <hr>
                <!-- For showing message if no records exists -->
               <div id="noDataMsg" class="row" style="display: none;"> <div class="col-lg-4"></div>
               <div> <h5 style="color: red;">There are no Diagnosis history to provide the feedback..</h5></div>
               </div>

               <div class="row"><div class="col-lg-1"></div>
               <div> <h5>Please Select the diagnosis for which you want to give feedback</h5></div>
               </div>
               <div class="row"><div class="col-lg-1"></div>
                 <div class="col-lg-4">
               <div class="form-group" >
              <select id="ddlSelect" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" aria-placeholder="Select diagnosis">
                </select>
              </div>
              </div>
              </div>
               <hr>
               <div class="row"><div class="col-lg-1"></div>
               <div> <h5>How satisfied are you with Haley's prediction of your diagnosis ?</h5></div>
               </div>

                <div class="row" style="padding: 30px;">
                    <!-- <div class="col-sm-1"></div> -->
                        <div class="col-sm-2">
                            <p><img id="imgRating" class="high" src="/static/dist/img/f1.png" alt="1"></p>
                            <p class="span1">Very Unsatisfied</p>
                        </div>
                        <div class="col-sm-2">
                            <p><img id="imgRating" class="high" src="{% static 'dist/img/f2.png' %}" alt="2"></p>
                            <p class="span1">Unsatisfied</p>
                        </div>
                        <div class="col-sm-2">
                            <p><img id="imgRating" class="high" src="{% static 'dist/img/f3.png' %}" alt="3"></p>
                            <p class="span1">Neutral</p>
                        </div>
                        <div class="col-sm-2">
                            <p><img id="imgRating" class="high" src="{% static 'dist/img/f4.png' %}" alt="4"></p>
                            <p class="span1">Satisfied</p>
                        </div>
                        <div class="col-sm-2">
                            <p><img id="imgRating" class="high" src="{% static 'dist/img/f5.png' %}" alt="5"></p>
                            <p class="span1">Very Satisfied</p>
                        </div>
                </div>

                <hr>
                <div class="row">   <div class="col-lg-1"></div>
                 <div> <h5>Did Haley predict the disease accurately? If not, what do you suffer from ?</h5></div>
                 </div>
                
                 <div class="row">   <div class="col-lg-1"></div>
                 <div class="col-lg-9">                
                    <textarea id="txtRating" name="txtRating" class="form-control" rows="4" placeholder="Enter ..."></textarea>
                </div>
                  <br>
                </div>
                <!-- <br> -->
                <div class="row">
                    <div class="col-lg-7">
                        <label id="lblImgValue" style="visibility: hidden; height: 20px;"></label>
                    </div>
                    <div class="col-lg-5" id ="">
                    <button type="button" style='border: none;outline:none;' id="btnFeedbackSubmit" name="btnFeedbackSubmit"> Submit  </button> 
                    <!-- <input type="button" id="submit" name="btnFeedbackSubmit" value="Submit"> -->

                  </div>
                </div>
                <hr>
                </form>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

{% endblock %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
var images = document.getElementsByClassName('high');
var imagesLen = images.length;

// loop through each image and and addEventListener for each one
for ( var i = 0 ; i < imagesLen; i++) {
  images[i].addEventListener('click', function () {
    resetBorder();
		addBorderTo(this);
  });
}

// make a new loop for each click and reset images by it
function resetBorder() {
  for (var v = 0; v < imagesLen; v++) {
    images[v].style.border = '';
  }
}

function addBorderTo(thisImage) {
  thisImage.style.border = '2px solid darkcyan';
  $("#lblImgValue").html($(thisImage).attr('alt'));
}

$(document).ready(function () {
  //alert($("#lblImgValue").html());
  $.ajax({
        url: '/feedback/',
        data: {
          'type' : 'LOAD',
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            var list_html = "<option value='-1'>--- Select the Diagnosis ---</option>";
            if(data.diag.length > 0)
            {
              for( var i=0; i <data.diag.length; i++) {
                  //list_html += "<option value='"+data.diag[i]['id']+"'>"+data.diag[i]['userResults']+"</option>";
                  dt = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(on " + data.diag[i]['create_date'] +")";
                  list_html += "<option value='"+data.diag[i]['id']+"'>"+data.diag[i]['userResults']+ dt +"</option>";
                 }
              $("#ddlSelect").prop("disabled", false);
              $("#noDataMsg").hide();
            }
            else{
              $("#noDataMsg").show();
              $("#ddlSelect").prop("disabled", true);
            }
            $("#ddlSelect").html(list_html);
          }
        }
      });
});

// Submit button click
$("#btnFeedbackSubmit").click(function () {
  //alert($("#lblImgValue").html());
    if($("#ddlSelect option:selected").val() == -1){
      alert('please select the Diagnosis to provide feedback..');
      $("#ddlSelect").focus();
         return false;
    }

    if($("#lblImgValue").html() == ""){
         alert('please select one Smiley for rating..');
         return false; } 
    var symptom = '';
    // if($("#lblFirst").is(":visible"))
    // {
    //   symptom = $("#lblFirst").html();
    // }
    // else
    // {
    //   symptom = $("#lblSymp").html();
    // }
    //$("#imgRating").style.border='';
    $("#imgRating").blur();
    
    $("#txtRating").html("");  
      $.ajax({
        url: '/feedback/',
        data: {
          'unique_id': $("#ddlSelect option:selected" ).val(),
          'rating': $("#lblImgValue").html(),
          'ratingText': $("#txtRating").val(),
          'type' : 'SUBMIT',
        },
        dataType: 'json',
        success: function (data) {
          $("#lblImgValue").html("")
          if (data.is_taken) {
            var list_html = "<option value='-1'>--- Select the Diagnosis ---</option>";
                for( var i=0; i <data.diag.length; i++) {
                  //list_html += "<option value='"+data.diag[i]['id']+"'>"+data.diag[i]['userResults']+"</option>";
                  dt = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(on " + data.diag[i]['create_date'] +")";
                  list_html += "<option value='"+data.diag[i]['id']+"'>"+data.diag[i]['userResults']+ dt +"</option>";
                 }
                $("#ddlSelect").html(list_html);
                alert('Feedback saved successfully');
          //$("#imgRating").style.border='';
          $("#txtRating").val(""); 
          resetBorder();     
          }
          else{
            // $("#divResults").show();
            // $("#divQuestions").hide();
            // $("#lblDiseaseName").html(data.forDiseases);
            // $("#pDesc").html(data.forDesc);
            // $("#pCauses").html(data.forCauses);
            // $("a[href='http://www.default.com/']").attr('href', data.forLink);
            // $("#diseaseImage").attr("src", "../../static/dist/img/disease/"+data.forDiseases+".jpg");

          }
        }
      });
    });

</script>
{% endblock %}